ovos-audio~=0.0.1,>=0.0.2a12
ovos-utils~=0.0.32
ovos-config~=0.0.7
phoneme-guesser~=0.1
ovos-plugin-manager~=0.0.22
neon-utils[network]~=1.4,>=1.5.1a7
click~=8.0
click-default-group~=1.2
ovos-bus-client~=0.0.3

ovos-plugin-common-play~=0.0.5
ovos-ocp-rss-plugin~=0.0.2
ovos-ocp-m3u-plugin~=0.0.1
ovos-ocp-news-plugin~=0.0.3
