ovos-audio==0.0.2a27
ovos-utils~=0.0.35
ovos-config~=0.0.10
phoneme-guesser~=0.1
ovos-plugin-manager~=0.0.24
neon-utils[network]~=1.6
click~=8.0
click-default-group~=1.2
ovos-bus-client~=0.0.3

# Default OCP backend + plugins
ovos-plugin-common-play~=0.0.5
mycroft-messagebus-client~=0.10
# mycroft-messagebus-client patching OCP dependency
ovos-ocp-m3u-plugin~=0.0.1
ovos-ocp-rss-plugin~=0.0.2
ovos-ocp-files-plugin~=0.13
ovos-ocp-news-plugin~=0.0.3