# This workflow will run unit tests

name: Run Unit Tests
on:
  pull_request:
  workflow_dispatch:

jobs:
  py_build_tests:
    uses: neongeckocom/.github/.github/workflows/python_build_tests.yml@master
    with:
      python_version: "3.8"
  docker_build_tests:
    uses: neongeckocom/.github/.github/workflows/docker_build_tests.yml@master
    with:
      platforms: linux/amd64,linux/arm64
  unit_tests:
    timeout-minutes: 15
    strategy:
      matrix:
        python-version: [3.7, 3.8, 3.9, '3.10']
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install portaudio19-dev python3-pyaudio
          python -m pip install --upgrade pip
          pip install . -r requirements/test_requirements.txt

      - name: Test Base Classes
        run: |
          pytest tests/unit_tests.py --doctest-modules --junitxml=tests/unit-test-results.xml
        env:
          TTS_URL: ${{secrets.tts_url}}
      - name: Upload Unit test results
        uses: actions/upload-artifact@v4
        with:
          name: unit-test-results-${{matrix.python-version}}
          path: tests/unit-test-results.xml

      - name: Test API Methods
        run: |
          pytest tests/api_method_tests.py --doctest-modules --junitxml=tests/api-method-test-results.xml
      - name: Upload API Method test results
        uses: actions/upload-artifact@v4
        with:
          name: api-method-test-results-${{matrix.python-version}}
          path: tests/api-method-test-results.xml
